In [47]:
import numpy as np
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers

In [48]:
data = pd.read_csv('newdata.csv')

data.head()

   team1  team2  team3  team4  team5  team6 winner
0   2052   5172   3026   4607   3102   3184   blue
1   2052   5172   3026   4607   3102   3184   blue
2   2052   5172   3026   3007   4207   3244   blue
3   2052   5172   3026   3007   4207   3244   blue
4   4198   5913   3751   2823   2508   3630   blue

In [49]:
target = data.pop("winner")

In [52]:
print(data)
print(target)

     team1  team2  team3  team4  team5  team6
0     2052   5172   3026   4607   3102   3184
1     2052   5172   3026   4607   3102   3184
2     2052   5172   3026   3007   4207   3244
3     2052   5172   3026   3007   4207   3244
4     4198   5913   3751   2823   2508   3630
..     ...    ...    ...    ...    ...    ...
106   3298   3407   2987   2879   3745   3630
107   2052   5172   3026   2823   2508   3630
108   2052   5172   3026   2823   2508   3630
109   7028   2987   4536   4607   3102   3184
110   7028   2987   4536   4607   3102   3184

[111 rows x 6 columns]
0      blue
1      blue
2      blue
3      blue
4      blue
       ...
106    blue
107    blue
108    blue
109     red
110     red
Name: winner, Length: 111, dtype: object